{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
    <h1>User</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ user.name }}</td>
            </tr>
            <tr>
                <th>Prénom</th>
                <td>{{ user.firstname }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ user.adress }}</td>
            </tr>
            <tr>
                <th>Ville</th>
                <td>{{ user.city }}</td>
            </tr>
            <tr>
                <th>Code Postal</th>
                <td>{{ user.zip }}</td>
            </tr>
            <tr>
                <th>Date de naissance</th>
                <td>{{ user.birthdate ? user.birthdate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>
<div class="container my-3 m-auto text-center">
    <a class="btn btn-outline-info col-6" href="{{ path('app_profile_edit', {'id': user.id}) }}">edit</a>
</div>

{% endblock %}
