{% extends 'base.html.twig' %}

{% block title %}USImport - Panier{% endblock %}

{% block body %}
<h1>Votre Panier</h1>
{% if items is empty %}
    <p>Votre panier est vide</p>
{% else %}

    <div class="container">
    
        <table class="table mt-4 table-striped">
            <thead>
                <tr>
                <th scope="col">Article</th>
                <th scope="col">image</th>
                <th scope="col">Prix (€)</th>
                <th scope="col">Quantité</th>
                <th scope="col">Total (€)</th>
                <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
            {% for item in items %}
                <tr>
                    <td class="align-middle ">{{ item.product.brand }}, {{ item.product.model }}</td>
                    <td class="align-middle"><img src="{{ asset('/uploads/img/') }}{{ item.product.img }}" style="height: 80px; width: 120px" alt={{ item.product.model }}></td>
                    <td class="align-middle">{{ item.product.price|number_format(0,',',' ') }} €</td>
                    <td class="align-middle"><a href="{{ path('app_cart_decrement', {id: item.product.id}) }}" type="button" class="link-primary link-underline link-underline-opacity-0" style="height: 5px; width: 5px;">-</a> {{ item.quantity }} <a href="{{ path('app_cart_increment', {id: item.product.id}) }}" type="button" class="link-primary link-underline link-underline-opacity-0" style="height: 5px; width: 5px;">+</a></td>
                    <td class="align-middle">{{ (item.product.price * item.quantity)|number_format(0,',',' ') }} €</td>
                    <td class="align-middle"><a href="{{ path('app_cart_delete', {id: item.product.id}) }}" onclick="return confirm('Supprimer cet élément du panier ?');" type="button" class="btn col-12 btn-outline-danger"><i class="bi bi-trash3-fill"></i> Supprimer</i></a></td>
                </tr>
            {% endfor %}
            </tbody>
            <tfoot class="table-dark">
                <tr>
                    <td colspan="3" scope="row">TOTAL</td>
                    <td>{{ totalquantity }}</td>
                    <td>{{ totalprice|number_format(0,',',' ') }} €</td>
                    <form action="/checkout" method="post">
                        <td><button type="submit" class="col-12 btn btn-outline-info">Passer la commande</button></td>
                    </form>
                </tr>
            </tfoot>
        </table>

        <a href="{{ path('app_cart_clear') }}" onclick="return confirm('êtes-vous sûr de vouloir supprimer tous les produits du panier ?');" type="button" class=" btn d-grid col-6 mx-auto btn-outline-danger">Vider le Panier</a>

    </div>
{% endif %}
{% endblock %}
