{% extends 'base.html.twig' %}

{% block title %}USImport - Accueil{% endblock %}

{% block body %}
<body class="bg-dark">
    
    <div class="bg-dark">
        <div>
            <img class="pres-img" src="{{ asset('assets/medias/img/home-presentation.jpg') }}" alt="">
        </div>
        <div class="text-center mt-5 pres-descr">
            <h5 class="text-center text-white my-5 mx-auto fs-1 border-bottom border-danger col-5">Qui somme-nous ?</h5>
            <p class="fs-5 text-white">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facilis et totam eligendi ipsam esse tenetur consectetur ab alias non, libero labore, enim maiores architecto odit, perspiciatis laborum! Ab quis quidem sed quas odit expedita nihil, dolor qui dolorem esse unde porro praesentium hic obcaecati pariatur aspernatur atque nam dicta perferendis.</p>
        </div>
    </div>

    <div id="carouselExampleAutoplaying" class="carousel slide m-2" data-bs-ride="carousel">
    <h3 class="text-center text-white my-5 mx-auto fs-1 border-bottom border-danger col-3">Nos Modèles</h3>
        <div class="carousel-inner">
{% for product in products %}
        <a href="{{ path('app_product_show', {'id': product.id}) }}">
            <div class="carousel-item {% if loop.index0 == 0 %} active {% endif %}">
                <img style="max-width: 1500px;" src="{{ asset('/uploads/img/') }}{{ product.img }}" class="d-block w-100 mx-auto" alt="{{ product.brand }}{{ product.model }}{{ product.year }}">
                <div class="carousel-caption d-none d-md-block">
                    <h5>{{ product.brand }} {{ product.model }} {{ product.year }}</h5>
                    <p>{{ product.shortDescription }}</p>
                </div>
            </div>
        </a>
{% endfor %}
        </div>
    </div>
</body>
{% endblock %}
