{% extends 'base.html.twig' %}

{% block title %}Recherche{% endblock %}

{% block body %}
    <div class="container d-flex justify-content-around my-5">
    <h1>Résultat pour votre recherche</h1>
        {% for product in products %}
            <div class="card" style="width: 18rem;">
                <img src="{{ asset('/uploads/img/') }}{{ product.img }}" alt="{{ product.brand }},{{ product.model }}" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">{{ product.brand }} {{ product.model }} {{ product.year }}</h5>
                    <p class="card-text">{{ product.shortDescription }}</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">{{ product.price|number_format(0, " "," ") }} €</li>
                </ul>
                <div class="card-body">
                    <a href="{{ path('app_product_show', {'id': product.id}) }}" class="btn btn-outline-primary">Voir le vehicule</a>
                </div>
            </div>
        {% else %}
            <tr>
                <td colspan="9">Désoslé, nous n'avons trouvé aucun résultat pour cette recherche.</td>
            </tr>
        {% endfor %}
    </div>
{% endblock %}
