{% extends 'base.html.twig' %}

{% block title %}Liste des produits{% endblock %}

{% block body %}
<body class="bg-2">
    <div class="container form-bg tables mx-auto my-5">
        <h1 class="text-center m-5 text-light">Liste des Catégories</h1>
        <div class="table-responsive">
            <table class="mb-5 col-12">
                <thead>
                    <tr>
                        <th class="col">Id</th>
                        <th class="col">Marque</th>
                        <th class="col">Modèle</th>
                        <th class="col">Année</th>
                        <th class="col">Image</th>
                        <th class="col">présentation</th>
                        <th class="col">Description Complète</th>
                        <th class="col-1">Prix</th>
                        <th class="col-2">actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for product in products %}
                    <tr>
                        <td>{{ product.id }}</td>
                        <td>{{ product.brand }}</td>
                        <td>{{ product.model }}</td>
                        <td>{{ product.year }}</td>
                        <td><img src="{{ asset('/uploads/img/') }}{{ product.img }}" alt="{{ product.brand }},{{ product.model }}" style="max-width: 200px;"> </td>
                        <td>{{ product.shortDescription }}</td>
                        <td>{{ product.fullDescription|length > 50 ? product.fullDescription|slice(0, 50) ~ '...' : product.fullDescription  }}</td>
                        <td>{{ product.price|number_format(0,',',' ') }} €</td>
                        <td>
                            <a class="btn btn-primary m-1 col-12" href="{{ path('app_admin_product_edit', {'id': product.id}) }}">Modifier</a>
                            <div class="m-1 col-12">
                                {{ include('admin_product/_delete_form.html.twig') }}
                            </div> 
                        </td>
                    </tr>  
                {% else %}
                    <tr>
                        <td colspan="9">Vous n'avez aucun produit enregistrés</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="container m-auto my-3 text-center">
            <a class="mx-auto d-block btn btn-light col-6" href="{{ path('app_admin_product_new') }}">Ajouter un produit</a>
        </div>
    </div>

</body>

{% endblock %}