<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}USImport{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="{{ asset('assets/medias/img/favicon.png') }}">
        {% block stylesheets %}
            <link rel="stylesheet" href={{ asset("assets/css/bootstrap.min.css") }}>
            <link rel="stylesheet" href={{ asset("assets/css/style.css") }}>
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
        {% endblock %}

        {% block javascripts %}
        {% endblock %}
    </head>

    {% include "nav.html.twig" %}
        {% for message in app.flashes('success') %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <p>{{ message }}</p> 
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    <body>
        {% block body %}
        {% endblock %}
        {% include "footer.html.twig" %}
           {# <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script> #}
           <script src="{{ asset("assets/js/bootstrap.bundle.min.js") }}"></script>
    </body>


</html>
